<p>{{ markup }}</p>
<section class="guest-book_add-form">
    {{ add_form }}
</section>

<section class="guest-book_feedback-list">
    {% for item in items %}
        <div class="feedback">
            <p class="name">{{ item.name }}</p>
            <p class="email">{{ item.email }}</p>
            <p class="phone">{{ item.phone }}</p>
            <img src="{{ item.avatar }}" alt="{{ name }}-avatar" width="100px">
            {% if item.image %}
                <img src="{{ item.image }}" alt="message-image" width="30%">
            {% endif %}
            <p class="massage">{{ item.message }}</p>
            <p class="date">{{ item.date }}</p>
            {% if user.hasPermission('access to edit guest_book data') %}
                <a class="use-ajax" data-dialog-type="modal" href="/guest-book/edit/{{ item.id }}">Edit</a>
                <a class="use-ajax" data-dialog-type="modal" href="/guest-book/delete/{{ item.id }}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
</section>
